{% extends 'common/base.html' %}

{% block content %}
        <div class="container">
          <!-- Navbar Brand -->
          <div class="navbar-header d-flex align-items-center justify-content-between">
            <!-- Navbar Brand --><a href="index.html" class="navbar-brand">Bootstrap Blog</a>
            <!-- Toggle Button-->
            <button type="button" data-toggle="collapse" data-target="#navbarcollapse" aria-controls="navbarcollapse" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span></span><span></span><span></span></button>
          </div>
          <!-- Navbar Menu -->
          <div id="navbarcollapse" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item"><a href="{{ url_for('blog.get_home') }}" class="nav-link ">Home</a>
              </li>
              <li class="nav-item"><a href="{{ url_for('blog.get_blog') }}" class="nav-link ">Blog</a>
              </li>
              <li class="nav-item"><a href="{{ url_for('blog.get_post') }}" class="nav-link active ">Post</a>
              </li>
              <li class="nav-item"><a href="#" class="nav-link ">Contact</a>
              </li>
            </ul>
            <div class="navbar-text"><a href="#" class="search-btn"><i class="icon-search-1"></i></a></div>
            <ul class="langs navbar-text"><a href="#" class="active">EN</a><span>           </span><a href="#">ES</a></ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="container">
      <div class="row">
        <!-- Latest Posts -->
        <main class="posts-listing col-lg-8"> 
          <div class="container">
            <div class="row">
            {% for i in range(0,article_num,2) %}
              <!-- post -->
              <div class="post col-xl-6">
                <div class="post-thumbnail"><a href="{{ url_for('blog.get_post',aid=articles[i].aid) }}"><img src='/static/img/xiaobai.jpg' alt="..." class="img-fluid"></a></div>
                <div class="post-details">
                  <div class="post-meta d-flex justify-content-between">
                    <div class="date meta-last">20 May | 2016</div>
                    <div class="category"><a href="#">Business</a></div>
                  </div><a href="{{ url_for('blog.get_post',aid=articles[i].aid) }}">
                    <h3 class="h4">{{ articles[i].title}}</h3></a>
                  <p class="text-muted">{{ articles[i].content }}</p>
                  <footer class="post-footer d-flex align-items-center"><a href="#" class="author d-flex align-items-center flex-wrap">
                      <div class="avatar"><img src="/static/img/avatar-3.jpg" alt="..." class="img-fluid"></div>
                      <div class="title"><span>John Doe</span></div></a>
                    <div class="date"><i class="icon-clock"></i>{{ articles[i].create_time }}</div>
                    <div class="comments meta-last"><i class="icon-comment"></i>{{ articles[i].comments }}</div>
                  </footer>
                </div>
              </div>


              {% if i<article_num-1 %}
              <!-- post             -->
              <div class="post col-xl-6">
                <div class="post-thumbnail"><a href="{{ url_for('blog.get_post',aid=articles[i+1].aid) }}"><img src="/static/img/xiaobai.jpg" alt="..." class="img-fluid"></a></div>
                <div class="post-details">
                  <div class="post-meta d-flex justify-content-between">
                    <div class="date meta-last">20 May | 2016</div>
                    <div class="category"><a href="#">Business</a></div>
                  </div><a href="{{ url_for('blog.get_post',aid=articles[i+1].aid) }}">
                    <h3 class="h4">{{ articles[i+1].title}}</h3></a>
                  <p class="text-muted">{{ articles[i+1].content}}</p>
                  <div class="post-footer d-flex align-items-center"><a href="#" class="author d-flex align-items-center flex-wrap">
                      <div class="avatar"><img src="/static/img/avatar-2.jpg" alt="..." class="img-fluid"></div>
                      <div class="title"><span>John Doe</span></div></a>
                    <div class="date"><i class="icon-clock"></i>{{ articles[i+1].create_time }}</div>
                    <div class="comments meta-last"><i class="icon-comment"></i>{{ articles[i].comments }}</div>
                  </div>
                </div>
              </div>
              {% endif %}
            {% endfor %}

            <nav aria-label="..." >

      <ul class="pagination">
          {% if pagination.page == 1 %}
            <li class="disabled"><a style="width: 40px; height: 40px; line-height: 27px;  border-radius: 50% !important;  border: 1px solid #ddd;  color: #555;  text-align: center;" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
          {% else %}
              <li><a style="width: 40px; height: 40px; line-height: 27px;  border-radius: 50% !important;  border: 1px solid #ddd;  color: #555;  text-align: center;" href="{{ url_for('blog.get_search',page=pagination.prev_num) }}"  aria-label="Previous"><span aria-hidden="true">«</span></a></li>
          {% endif %}
        {#  页码范围    #}
          {% for current in pagination.page_range %}
              {% if current == pagination.page %}
                <li class="active"><a href="{{ url_for('blog.get_search',page=current) }}" style="width: 40px; height: 40px; line-height: 27px;  border-radius: 50% !important;  border: 1px solid #ddd;  color: #555;  text-align: center;">{{ current }} <span class="sr-only">(current)</span></a></li>
              {% else %}
                  <li><a style="width: 40px; height: 40px; line-height: 27px;  border-radius: 50% !important;  border: 1px solid #ddd;  color: #555;  text-align: center;" href="{{ url_for('blog.get_search',page=current) }}">{{ current }}</a></li>
              {% endif %}
          {% endfor %}

        {% if pagination.page == pagination.pages %}
            <li class="disabled"><a style="width: 40px; height: 40px; line-height: 27px;  border-radius: 50% !important;  border: 1px solid #ddd;  color: #555;  text-align: center;" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
        {% else %}
            <li><a style="width: 40px; height: 40px; line-height: 27px;  border-radius: 50% !important;  border: 1px solid #ddd;  color: #555;  text-align: center;" href="{{ url_for('blog.get_search',page=pagination.next_num) }}" aria-label="Next"><span aria-hidden="true">»</span></a></li>

      {% endif %}
      </ul>
   </nav>
          </div>
        </main>
        <aside class="col-lg-4">
          <!-- Widget [Search Bar Widget]-->
          <div class="widget search">
            <header>
              <h3 class="h6">Search the blog</h3>
            </header>
            <form action="{{  url_for('blog.get_search')}}" class="search-form" method="post">
              <div class="form-group">
                <input type="search" placeholder="What are you looking for?" name="content">
                <button type="submit" class="submit"><i class="icon-search"></i></button>
              </div>
            </form>
          </div>
          <!-- Widget [Latest Posts Widget]        -->
          <div class="widget latest-posts">
            <header>
              <h3 class="h6">Latest Posts</h3>
            </header>
            <div class="blog-posts"><a href="#">
                {% for article in three_articles %}
                <div class="item d-flex align-items-center">
                  <div class="image"><img src="{{ url_for('static',filename=article.picture) }}" alt="..." class="img-fluid"></div>
                  <div class="title"><strong>{{ article.title }}</strong>
                    <div class="d-flex align-items-center">
                      <div class="views"><i class="icon-eye"></i>{{ article.hits }} </div>
                      <div class="comments"><i class="icon-comment"></i>{{ article.comments }}</div>
                    </div>
                  </div>
                </div></a><a href="#">
                {% endfor %}
          </div>
          <!-- Widget [Categories Widget]-->
          <div class="widget categories">
            <header>
              <h3 class="h6">分类</h3>
            </header>
              {% for category in categories %}
            <div class="item d-flex justify-content-between"><a href="{{ url_for('blog.get_blog',cid=category.cid) }}">{{ category.name }}</a><span>12</span></div>
            {% endfor %}
          </div>
          <!-- Widget [Tags Cloud Widget]-->
          <div class="widget tags">       
            <header>
              <h3 class="h6">Tags</h3>
            </header>
            <ul class="list-inline">
              {% for tag in tags %}
              <li class="list-inline-item"><a href="#" class="tag">{{ tag.name }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </aside>
      </div>
    </div>

{% endblock %}
